
  <div class="post">
    <div class="header_post">
      <img src="https://cdn.discordapp.com/attachments/722509731922575421/732978906906492928/fotinha.png" alt="Eduardo">
    </div>

    <div class="body_post">
      <div class="post_content">

        <h1>Eduardo Marques</h1>
        <p>Olá! Sou um estudante de graduação da Universidade de Brasília, colecionador de jogos e programador nas horas vagas.</p>

        <div class="container_infos">
          <div class="postedBy">
            <span>idade</span>
            <p>20</p>
          </div>

          <div class="container_tags">
            <span>interesses</span>
            <div class="tags">
              <ul>
                <li>jogos</li>
                <li>anime</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
