<%
=begin%>
 <h1> Minhas Playlists </h1>

<table>
  <% @favorite.each do |favorito| %>
    <tr>
      <td><%= favorito.song.name %></td>
      <td><%= button_to 'Remove', favoritesong_path(favorito), method: 'delete' %></td>
      <!--<td><%= favorito.listener_id %></td>-->
      
    </tr>
  <% end %>
</table> 
<%
=end%>