<div class="editar">
    <div class="editor container text-center">
        <h2 class=>Edit an Album</h3>
        <%= form_for @album do |f| %>
            <p>Nome do Album: <%= f.text_field :name, :class=> "btn btn-outline-light btn-block text-dark" %></p>
            <p>Foto do Album: <%= f.file_field :photo, :class=> "btn btn-outline-light btn-block text-dark" %></p>

            <%= f.submit %>
        <% end %>
    </div>
</div>
