<h3>Edit an Album</h3>
<%= form_for @album do |f| %>
    <p>Enter Album's New Name: <%= f.text_field :name %></p>
    <p>Enter Album's Foto: <%= f.file_field:photo %></p>

    <%= f.submit %>
<% end %>