// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-album{
    height: 90px;
    width: 90px;
}

.backgroundarrumado{
    width: 100%;
    height: 100vh;
    background-image: url("https://images4.alphacoders.com/108/1080800.jpg");
    background-position: center top;
	background-size:cover;
}

.organizar{
    padding-top: 150px;
    text-align: center;
}