// Place all the styles related to the favoritesongs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favoritos{
    height: 100%;
    min-height: 1000px;
    background-image: url("/assets/favoritos.png");
    background-color: black;
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
} 