.body {
  overflow-x: hidden;
}


/* CAROUSEL */

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: auto;
}

.item {
  width: 100%;
  height: 100vh !important;
}

.carousel-indicators li {
  width: 80px !important;
  height: 4px !important;
  border-radius: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  margin: 0px !important;
}

.carousel-caption h5 {
  text-transform: uppercase;
}

.carousel {
  height: 100vh;
  width: 100%;
  overflow-x :hidden;
}
.carousel .carousel-inner {
  height:100%;
}

/* OUTROS */

.video-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.4)
}

.caption {
  position: absolute;
  top: 38%;
  width: 100%;
  color: #FFFFFF;
}


