.info {
  width: 100%;
  height: 100px;
  position: fixed;
  line-height: -50px;
  text-align: center;
  z-index: 100;
}

.info div.main_list {
  /*height: 0px;*/
}

.info div.main_list ul {
  width: 100%;
  /*height: 0px;*/
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.info div.main_list ul li {
  width: auto;
  /*height: 0px;*/
  padding: 0;
}

.info div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  /*line-height: 0px;*/
  font-size: 2.4rem;
}

.info div.main_list ul li a:hover {
  color: #8a2be2;
}

.info {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}


/* Media qurey section

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width:768px) {
  .info div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .info div.show_list {
    height: auto;
  }
  .info div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111;
    /*same background color of infobar
    background-position: center top;
  }
  .info div.main_list ul li {
    width: 100%;
    text-align: right;
  }
  .info div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    padding: 20px;
  }
  .info div.media_button {
    display: block;
  }
}*/