// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.criarMusica{
    padding-top: 150px;
    padding-left: 80px;
    background-image: url("https://images7.alphacoders.com/861/861304.jpg");
    background-position: center top;
    background-size:cover;
    height: 100vh;
}