<div class="criarAlbum">
    <h1 class="text-light font-weight-bold pb-5">Criar nova Playlist</h1>
    <%= form_for @playlist do |play| %>
        <h2 class="text-light font-weight-bold">Nome da playlist: <%= play.text_field :name, placeholder: "nome ... ", class: 'textoboxe' %></h2>
        <%= play.hidden_field :listener_id, :value => @current_user.listener.id %>
        <%= play.submit 'Criar Playlist', :class => 'botao' %>
    <% end %>
</div>