<div class="criarAlbum">
    <h1 class="text-light font-weight-bold">Criar nova Playlist</h1>
    <%= form_for @playlist do |play| %>
        <p><h2 class="text-light font-weight-bold">Nome da playlist: <%= play.text_field :name, placeholder: "nome ... " %></h2></p>
        <%= play.hidden_field :listener_id, :value => @current_user.listener.id %>
        <%= play.submit 'Criar Playlist', :class => 'button button1 '%>
    <% end %>
</div>