<div class="bbb">
</div>
<%
=begin%>
 <div class="">
    <h1> Homepage do site </h1>
    <% if current_user %>
        <h1> Email: <%= current_user.email %></h1>
        <h1> name: <%= current_user.name %></h1>
    <% else %>
        <h1> Usúario não logado </h1>
    <% end %>
</div> 
<%
=end%>
