<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<body>
<div class="container-flex">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4500">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img class="d-block w-100" src="https://wallpapermemory.com/uploads/799/firewatch-wallpaper-full-hd-1920x1080-467987.jpg" alt="Moutain">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="display-4">Bom Dia!</h5>
          <p class="lead">Projeto Amadeus primero slide</p>
        </div>
      </div>

      <div class="item">
        <img class="d-block w-100" src="https://images4.alphacoders.com/108/1080800.jpg" alt="Darth Vader">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="display-4">caralho darth vader</h5>
          <p class="lead">ta brabo apenas</p>
        </div>
      </div>

      <div class="item">
        <img class="d-block w-100" src="https://images7.alphacoders.com/861/861304.jpg" alt="Sunrise">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="display-4">tá funcionando</h5>
          <p class="lead">tá funcinando essa porra</p>
        </div>
      </div>
    </div>

  </div>
</div>

</body>
