<!--<nav class="navbar navbar-expand-lg navbar-dark bg-black navbar-static-top fixed-bottom infobar">
  <ul class="navbar-nav mx-auto">
    <li class="nav-item mx-5">
      <a class="nav-link" href="/"><h2>HOME</h2></a>
    </li>
    <li class="nav-item mx-5">
      <a class="nav-link" href="#sobre"><h2>SOBRE</h2></a>
    </li>
    <li class="nav-item mx-5">
      <a class="nav-link" href="#equipe"><h2>EQUIPE</h2></a>
    </li>
  </ul>
</nav>-->

<nav class="info navbar navbar-static-top fixed-bottom">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div id="mainListDiv" class="main_list">
          <ul class="navlinks mx-auto">
            <li class="ml-auto"><a href="/"><div class="col ml-auto">Home</div></a></li>
            <li class=""><a href="#sobre"><div class="col mx-1">Sobre</div></a></li>
            <li class="mr-auto"><a href="#equipe"><div class="col mr-auto">Equipe</div></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</nav>

<!-- Jquery needed -->
<script src="js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>